  /*============================ Spinner de pantalla de carga ============================*/
  #loading{
    display: none;
    width: 100%;
    background-color: #000000ab;
    z-index: 999999;
    height: 100%;
    position: fixed;
    text-align: center;
    padding-top: 150px;
    top: 0px;
}

.lds-facebook {
display: inline-block;
position: relative;
width: 80px;
height: 80px;
}

.lds-facebook div {
display: inline-block;
position: absolute;
left: 8px;
width: 16px;
background: #fff;
animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
left: 8px;
animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
left: 32px;
animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
left: 56px;
animation-delay: 0;
}

@keyframes lds-facebook {
0% {
  top: 8px;
  height: 64px;
}
50%, 100% {
  top: 24px;
  height: 32px;
}
}
/*============================ Spinner de pantalla de carga ============================*/

.hide{
    display: none !important;
}

td .fas{
    font-size: 24px;
    cursor: pointer;
    color: var(--gray);
    padding: 0 2px 0 2px;
}

.select2{
    font-size: 14px;
}

.link:hover {
    color: #224abe;
    text-decoration: underline;
    cursor: pointer;
}

.link {
    color: #4e73df;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

#dataTableEntidades td{
    padding: 1px 1px 1px 4px !important;
}

.select2-selection{
    border: solid #d1d3e2 1px !important;
}

label{
    /*position: absolute;
    top: -12px;
    background-color: white;
    left: 20px;*/
    margin: 0px;
    font-size: 14px;
}

input, select{
    font-size: 13px !important;
}

.invalid-select2{
    border: solid 1px #e74a3b !important;
}

.top10{
    margin-top: 10px;
}

.page-link{
    padding: 6px;
    font-size: 13px;
}

.mas_perfil{
    font-size: 20px !important;
    position: absolute !important;
    z-index: 100 !important;
}

.table td{
    padding: 2px 4px 2px 4px;
}

.table th{
    padding: 6px;
}

table.dataTable>thead .sorting:before, table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:before, table.dataTable>thead .sorting_desc_disabled:after{
    bottom: 0px !important;
}

#dataTableUsuariosOut_filter label, #dataTableUsuariosOut_filter input, #dataTableUsuariosOut_length label, #dataTableUsuariosOut_length select, #dataTableUsuariosIn_filter label, #dataTableUsuariosIn_filter input, #dataTableUsuariosIn_length label, #dataTableUsuariosIn_length select{
    font-size: 12px !important;
}

.msjRequerido {
    color: #e73d4a;
    display: none;
    font-size: 12px;
}

.dtTooltip {
    left: 18px !important;
}

#tablaDocumentosAccion td, #tablaDocumentosAccion th, #tablaDetalle td, #tablaDetalle th{
    padding: 2px 4px 2px 4px;
    font-size: 13px;
}
